// IMPORT VARIABILI SCSS
@use './partials/variables' as *;

// FONTAWESOME
$fa-font-path : "./webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

// FONT PAGINA (FREDOKA)
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

// IMPORT BOOTSTRAP
@import 'bootstrap/scss/bootstrap.scss';


// REGOLE GENERALI SCSS

html {
    scroll-behavior: smooth;
}

body {
    color: $black2;
    letter-spacing: 0.8px;

    // FONT
    font-family: 'Fredoka One', cursive;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;

    .active {
        color: $yellow;
    }
}

a {
    text-decoration: none;
}