// Background-color
$white: #ffffff;
$white2: #ffffff80;
$white3: #fafafa;
$white4: #f7f8fa;
$yellow: #e9d758;
$pink: #e56768;
$pink2: #da5f60e6;
$black: #454545;
$black2: #3d404f;

// Border colors
$gray: #ececee;

// Text colors
$gray-text: #8b8b8a;
$text-white: #ffffffcc;
$gray-text2: #70727e;
$text-black: #223441;